<div class="container">
	<div class="m-3 mat-elevation-z8">
		<div 
			*ngIf="isLoading || fetchFailure"
			class="example-loading-shade"
		>
			<mat-spinner
				diameter="70"
				*ngIf="isLoading"
			></mat-spinner>
			<div 
				*ngIf="fetchFailure"
				class="example-fetch-failure"
			>
				Neuspesno dobavljanje podataka sa servera
			</div>
		</div>

		<div class="mx-3">
			<table
				mat-table
				[dataSource]="data"
				matSort
				[matSortActive]="sort ? sort.active : 'id'"
				[matSortDirection]="sort && sort.direction ? sort.direction : 'asc'"
				matSortDisableClear
				multiTemplateDataRows
				class="mr-3"
			>
				<ng-container matColumnDef="{{column.field}}" *ngFor="let column of displayedColumns">
					<ng-container *ngIf="column.field!='Actions'">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.text}}</th>
						<td 
							mat-cell
							*matCellDef="let element" 
						>{{element[column.field]}}</td>
					</ng-container>
					<ng-container *ngIf="column.field=='Actions'">
						<th mat-header-cell *matHeaderCellDef class="align-right">{{column.text}}</th>
						<td
							mat-cell
							*matCellDef="let element"
							class="align-right"
						>
							<mat-icon 
								class="my-icon pr-1"
								(click)="toggleRow(element)"
							>
								<ng-container
									*ngIf="expandedItem.value!=element"
								>edit</ng-container>
								<ng-container
									*ngIf="expandedItem.value==element"
								>expand_more</ng-container>
							</mat-icon>
							<mat-icon
								*ngIf="lastDeleted!=element"
								class="my-icon pl-1"
								(click)="delete(element)"
							>
								delete
							</mat-icon>
							<mat-spinner
								*ngIf="lastDeleted==element"
								class="pl-1"
								diameter="23"
							></mat-spinner>
							<a
								[routerLink]="['./cultural-offering', element.id]"
							>
								<mat-icon
									class="my-icon pl-2"
								>
									read_more
								</mat-icon>
							</a>
							<a [routerLink]="['./cultural-offering', element.id, 'news']" (click)="setSelected(element)">
								<mat-icon class="my-icon pl-3"> email</mat-icon>
							</a>
						</td>
					</ng-container>
				</ng-container>
			
				<ng-container matColumnDef="expandedDetail">
					<td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
						<div 
							class="example-element-detail"
							[@detailExpand]="element == expandedItem.value ? 'expanded' : 'collapsed'"
						>
							<app-cultural-offering-details
								*ngIf="element == expandedItem.value"
								[culturalOffering]="element"
								[culturalOfferingTypes]="culturalOfferingTypes"
								(upsertLocal)="upsertLocal($event)"
								style="width: 100%;"
							></app-cultural-offering-details>
						</div>
					</td>
				</ng-container>
			
				<tr mat-header-row *matHeaderRowDef="getHeadersField()"></tr>
				<tr
					mat-row
					*matRowDef="let row; columns: getHeadersField();"
					class="example-element-row"
					[class.example-expanded-row]="expandedItem.value == element"
				></tr>
				<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
			</table>
		</div>
		<mat-paginator [length]="totalLength" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>

		<div class="mx-3 py-2 pr-1" style="text-align: end;">
			<button 
				class="my-button"
				(click)="addStarted=!addStarted; expandedItem.value=null;"
				[style.background-color]="addStarted ? '#ca0b00' : '#24a0ed'"
			>
				{{addStarted ? "Odustani" : "Dodaj novu kulturnu ponudu"}}
			</button>
			<app-cultural-offering-details
				*ngIf="addStarted"
				[culturalOfferingTypes]="culturalOfferingTypes"
				(upsertLocal)="upsertLocal($event)"
				style="width: 100%;"
			></app-cultural-offering-details>
		</div>
	</div>
</div>
