    <footer class="page-footer font-small pt-4 navbar-dark default-color shadow-lg mt-auto">

        <div class="text-center flex-center text-md-left shadow-sm">

            <div class="row">

                <div class="col-md-6 mt-md-0 mt-3">

                    <h5 class="text-uppercase font-weight-bold">O projektu:</h5>
                    <p class="text-justify">
                        Pravljenje aplikacije <i>Kulturne ponude Srbije</i> ima za cilj da demonstrira
                        znanje usvojeno na predmetima <i>Napredne veb tehnologije</i> i
                        <i>Konstrukcija i testiranje softvera</i>.
                    </p>

                </div>

                <hr class="clearfix w-100 d-md-none pb-3">

                <div class="col-md-3 mb-md-0 mb-3 mx-auto">

                    <h5 class="text-uppercase font-weight-bold">
                        Autori:
                    </h5>
                    <ul class="text-left">
                        <li>
                            <a href="{{bojanUrl}}">Bojan Popržen</a>
                        </li>
                        <li>
                            <a href="{{ivanaUrl}}">Ivana Marošević</a>
                        </li>
                        <li>
                            <a href="{{milanUrl}}">Milan Đurić</a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="footer-copyright text-center py-3">
            © 2021 Copyright: &nbsp;
            <a href="{{projectUrl}}"> NVT-KTS Tim 19 </a>
            <mdb-icon fab icon="github" size="2x" class="white-text mr-md-3 mr-3 ml-1"></mdb-icon>
        </div>

    </footer>
