textarea {
    height: 50px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100% !important;
}

.my-icon{
    font-size: 25px;
}

.my-icon-add{
    color: #00B74A;
}

.my-icon-more{
    color: #39C0ED;
}

.my-icon:hover{
    cursor: pointer;
}