<div class="container-fluid px-5 my-4" style="min-height: 450px;">
    <div class="row">
        <div class="col-10 h-100">
            <app-cultural-offering-table></app-cultural-offering-table>
        </div>
        <div class="col-2 h-100">
            <div class="row mt-3" style="min-height: 150px;">
                <a routerLink="./cultural-offering-type">
                    <button class="btn navigation-button" id="manageTypesBtn">
                        Upravljaj tipovima kulturne ponude
                    </button>
                </a>
            </div>
            <div class="row" style="min-height: 150px;">
                <a routerLink="./cultural-offering-sub-type">
                    <button class="btn navigation-button" id="manageSubtypesBtn">
                        Upravljaj podtipovima kulturne ponude
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
