<div class="container-fluid px-5 my-4" style="min-height: 450px;">
    <div class="row">
        <div class="col-10 h-100">
            <app-cultural-offering-table></app-cultural-offering-table>
        </div>
        <div class="col-2 h-100">
            <div class="row" style="min-height: 225px;">
                Button to table for cultural offering types
            </div>
            <div class="row" style="min-height: 225px;">
                Button to table for cultural offering subtypes
            </div>
        </div>
    </div>
</div>
