.background-img{
    height: 100vh;
    min-height: 500px;
    background-image: url('../../../../assets/images/TARA.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 90%;
  }