table {
	width: 100%;
}

.example-loading-shade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 140px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.example-fetch-failure {
	color: #980000;
	max-width: 360px;
	text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
	max-width: 64px;
}

.mat-column-created {
	max-width: 124px;
}

.align-right{
	display: flex;
	padding: 21px 0;
	justify-content: flex-end;
}

.my-icon:hover{
	cursor: pointer;
}

tr.example-element-row:hover {
	background: whitesmoke;
}

.example-element-row td {
	border-bottom-width: 0;
}

.my-button{
	display: inline-block;
	padding: 8px 12px; 
	cursor: pointer;
	border-radius: 2px;
	border: none;
	font-size: 16px;
	color: white;
}