<form [formGroup]="culturalOfferingTypeForm" (ngSubmit)="update()">
    <div class="container-fluid">

        <div class="row mb-4">
            
            <div class="col-4">
                <div class="row mt-3">
                    <div class="col px-0" style="text-align: center;">
                        <img *ngIf="retrievedImage" [src]="retrievedImage" class="table-row-expand-image">
                        <img *ngIf="!retrievedImage && !culturalOfferingType.imageId" src="../../../../assets/images/empty.png" class="table-row-expand-image">
                        <mat-spinner *ngIf="!retrievedImage && culturalOfferingType.imageId" diameter="50" class="align-to-center"></mat-spinner>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col px-0 button-wrap" style="text-align: center;">
                        <label class ="new-button" for=file [style.width.px]="fileButtonWidth"> Upload image </label>
                        <input type="file" name="file" id="file" (change)="onFileChanged($event)"/>
                    </div>
                </div>
            
            </div>
            
            <div class="col-8">
                
                <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <input type="text" id="typeName" name="typeName" formControlName="typeName" class="form-control"
                                mdbInput mdbValidate>
                            <label for="typeName">Naziv</label>
                    
                            <div
                                *ngIf="culturalOfferingTypeForm.controls.typeName.invalid && (culturalOfferingTypeForm.controls.typeName.touched || culturalOfferingTypeForm.controls.typeName.dirty)">
                                <small class="text-danger" *ngIf="culturalOfferingTypeForm.controls.typeName.errors?.required">
                                    Obavezno je uneti naziv.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <button 
                                mdbBtn 
                                color="default" 
                                class="waves-light" 
                                type="submit"
                                [disabled]="culturalOfferingTypeForm.invalid || !culturalOfferingTypeForm.touched || (culturalOfferingTypeForm.valid && culturalOfferingTypeForm.pristine)"
                                mdbWavesEffect
                            >Sacuvaj izmene</button>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

    </div>
</form>
