.meta-info { padding: 5px; overflow: hidden; }

.meta-info p { font-family: 'Fenix', serif; font-style: italic; color: #666; font-size: 16px; }
.my-icon:hover{
    cursor: pointer;
}
.my-icon{
    font-size: 25px;
}
.my-icon-danger{
    color: #F93154;
}