<ng-container>
    <div *ngIf="!loading" style="overflow: hidden;">
        <div class="card mt-0 pt-0" style="border-top: none;">
            <div class="card-body">
                <app-rating-input 
                    (ratingAddedEvent)="ratingAddedEvent($event)"
                    [selectedValue]="userRating ? userRating.value : 0"
                    [userRatingBeingUploaded]="userRatingBeingUploaded"
                ></app-rating-input>
                <app-rating-item
                    *ngFor="let rating of ratings"
                    [rating]="rating"
                    (removeRatingEvent)="removeRatingEvent($event)"
                ></app-rating-item>
                <h3
                    *ngIf="ratings.length==0 && !userRating"
                    class="text-center font-weight-light"
                >
                    Budite prvi koji ce oceniti ovu kulturnu ponudu
                </h3>
                <h3
                    *ngIf="ratings.length==0 && userRating"
                    class="text-center font-weight-light"
                >
                    Vi ste jedini ocenili ovu kulturnu ponudu za sada
                </h3>
            </div>
        </div>
    </div>
    <div *ngIf="loading">
        <mat-spinner diameter="50" style="margin-left: auto; margin-right: auto;"></mat-spinner>
    </div>
    <app-paginator
        style="margin-left: auto;"
        (pageEvent)="fetchRatings($event)"
        [totalLength]="totalLength"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
    ></app-paginator>
</ng-container>

