<mat-form-field class="example-chip-list" style="width: 100%;" class="mr-0 pr-0">
    <mat-label>Chosen files</mat-label>
    <div style="overflow-y: scroll; overflow-x: hidden;" [style.max-height.px]="chipsHeight-19">
      <mat-chip-list #chipList aria-label="Chosen files">
        <mat-chip *ngFor="let chosenFile of chosenFiles" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(chosenFile)">
          {{chosenFile.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
</mat-form-field>
